@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* 
p{
    font-weight: 300;
    font-size: 1rem;
}

@font-face {
    font-family: hello ;
    src: url(./OFL.txt);
}

h1{
    font-family: hello;
}

p{
    font-family: hello;
} */


/* p{
    letter-spacing: 1rem;
    word-spacing: 12rem;
} */

div {
    /* width: 99%; */
    /* width: 100vw; */
    /* height: 500px; */
    /* height: 100vh; */
    width: 200px;
    height: 200px;
    /* background-color: rgba(255, 0, 0, 0.588); */
    background-color: red;
    /* border: 1rem solid pink; */
    /* border-radius: 7px; */


}